@mixin flex ($a, $b, $c) {
    display: flex;
    flex-direction: $a;
    justify-content: $b;
    align-items: $c;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/

.uploadPost {
    @include flex(column, center, center);
    width: 475px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
    padding: 5px;
}

.form_input {
    @include flex(row, center, center);
    width: 100%;
    height: auto;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    .MuiAvatar-root {
        width: 40px;
        height: 40px;
        margin-left: 0px;
        cursor: pointer;
    }
    input {
        @include flex(row, center, center);
        width: 400px;
        height: auto;
        border: none;
        outline: none;
        border-radius: 999px;
        background-color: #F0F2F5;
        padding: 10px;
        margin-left: 10px;
        font-size: 14px;
    }
}

.form_upload {
    @include flex(row, space-between, center);
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.img_upload {
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    .MuiSvgIcon-root {
        color: #41B35D;
        width: 32px;
        height: 32px;
    }
    &:hover {
        background-color: #F0F2F5;
    }
}

.uplaod_btn {
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    p {
        font-size: 15px;
        margin-left:4px;
    }
    .MuiSvgIcon-root {
        color: #139AF6;
        width: 32px;
        height: 32px;
    }
    &:hover {
        background-color: #F0F2F5;
    }
}